@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
  --violet: hsl(263, 55%, 52%);
  --dark-gray-blue: hsl(217, 19%, 35%);
  --dark-black-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 81%);
  --light-gray-blue: hsl(210, 46%, 95%);
  --border-violet: #A775F1;
  --border-dark-violet: #733FC8;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1;
  background-color: var(--light-gray-blue);
}
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.testimonials .container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  padding: 11.5% 11.5%;
}

.testimonial {
  padding: 26px 32px 30px 32px;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
}
.testimonial header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.7rem;
}
.testimonial h2 {
  margin-bottom: 4px;
  font-size: 1.3rem;
  line-height: 1;
}
.testimonial .name p {
font-size: 1.1rem;
line-height: 1;
}
.testimonial img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.quote-excerpt {
  margin-top: 1.8rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
}
blockquote {
  margin-top: 1.6rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: var(--dark-gray-blue);
  opacity: 0.7;
}
blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}

.testimonial-1 {
  background: url(images/bg-pattern-quotation.svg) no-repeat top right 80px;
}

/* Testimonial color schemes */
.testimonial-primary {
  background-color: var(--violet); 
}
.testimonial-primary img {
  border: 2px solid var(--border-violet);
}
.testimonial-gray {
  background-color: var(--dark-gray-blue); 
}
.testimonial-light {
  background-color: #ffffff;
}
.testimonial-dark {
  background-color: var(--dark-black-blue); 
}
.testimonial-dark img {
  border: 2px solid var(--border-dark-violet);
}

.testimonial-primary h2,
.testimonial-gray h2,
.testimonial-dark h2 {
  color: #ffffff;
}
.testimonial-primary .name p,
.testimonial-gray .name p,
.testimonial-dark .name p {
  color: rgba(255, 255, 255, 0.5)
}
.testimonial-light h2 {
  color: var(--dark-gray-blue);
}
.testimonial-light .name p {
  color:  hsla(217, 19%, 35%, 0.5);
}

.testimonial-1 .quote-excerpt,
.testimonial-2 .quote-excerpt {
  color: #ffffff;
}
.testimonial-3 .quote-excerpt,
.testimonial-5 .quote-excerpt {
  color: var(--dark-gray-blue);
}
.testimonial-4 .quote-excerpt {
  color: var(--light-gray-blue);
}

.testimonial-1 blockquote {
  color: var(--gray);
  opacity: 0.7;
}
.testimonial-2 blockquote,
.testimonial-4 blockquote {
  color: #ffffff;
  opacity: 0.7;
}
.testimonial-3 blockquote,
.testimonial-5 blockquote {
  color: var(--dark-gray-blue);
  opacity: 0.7;
}

/* Testimonal grid placement */
.testimonial-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.testimonial-2 {
  grid-column: 3 / 4;
}
.testimonial-3 {
  grid-column: 1 / 2;
}
.testimonial-4 {
  grid-column: 2 / 4;
}
.testimonial-5 {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}


footer {
  margin-bottom: 20px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* Media Queries */
@media only screen and (max-width: 1120px) {
  .testimonial-1 {
    grid-column: 1 / span all;
    grid-row: 1 / 2;
  }
  .testimonial-2 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .testimonial-3 {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }
  .testimonial-4 {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
  }
  .testimonial-5 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
  .testimonial-1 {
    background-position: top right 50px;
  }
}

@media only screen and (max-width: 600px) {
  .testimonials .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2.4rem;
    padding: 71px 24px 50px 24px;
  }
  .testimonial-1 {
    background-position: top right 24px;
  }

  /* Mobile - Testimonial grid placement */
  .testimonial-1,
  .testimonial-2,
  .testimonial-3,
  .testimonial-4,
  .testimonial-5 {
    grid-column: auto;
    grid-row: auto;
  }

}